.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  color: white;
}

.experiment-button {
  padding: 15px 30px;
  background-color: #33b020;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.25em;
  color: white;
}

.stopwatch {
  font-size: 1.25em;
  color: black;
}